footer {
    font-family: Arial,sans-serif;
}

.footer-info {
    display: flex;
    background-color:rgb(200,200,200);
    gap:100px;
}
.footer-info h3  {
    color: rgb(0, 0, 0);
    text-align: center;
    max-width: 250px;
}
.help-2 {
    margin-top: auto;
    margin-bottom: auto;
}
.ul-footer, .ul-footer li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;

}

footer a {
    color:rgb(80,80,80);
    text-decoration: none;
    font-weight: lighter;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

.socials {
    margin-left: 20px;
    margin-bottom: 3px;
}

.socials img {
    width: 35px;
    height: 35px;
}

footer p {
    margin-left: 20px;
}