.content {
    padding: 40px;
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245);
}

.content h1 {
    font-size: 36px;
    color: rgb(80, 80, 80);
    text-align: center;
    margin-bottom: 20px;
}

.content article {
    margin-bottom: 20px;
}

.content h2 {
    font-size: 24px;
    color: rgb(80, 80, 80);
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    color: rgb(50, 50, 50);
}